.inputs-checkbox {
  position: relative;

  .inputs__input {
    display: inline-block;
    width: auto;
    position: absolute;
    opacity: 0;
    top: 4px;
    left: 1px;
    z-index: 1;
  }

  .inputs__label {
    display: inline-block;

    &:before {
      content: "";
      display: inline-block;
      width: 15px;
      height: 15px;
      border: solid 2px $color_main;
      background-color: transparent;
      position: relative;
      top: 3px;
      z-index: 0;
      margin-right: 5px;
      cursor: pointer;
    }
  }

}

.inputs-checkbox .inputs__input:checked + .inputs__label {
  &:before {
    background-color: $color_main;
  }
}

.inputs-checkbox .inputs__input--error + .inputs__label {
  &:before {
    border-color: $input_color_border_error;
  }
}