.inputs-checkbox {

  .inputs__input {
    display: inline-block;
    width: auto;
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  .inputs__label {
    display: inline-block;

    &:after {
      transform: scale(0);
      content: "\2714";
      color: #fff;
      line-height: 1.5;
      text-align: center;
    }
  }

}



// .check, .radio {
//   position: absolute;
//   opacity: 0;
//   z-index: -1;
//   + .label-control:after {
//     transform: scale(0);
//   }
//   &:checked {
//     + .label-control:before {
//       background: $form-control-checked-color;
//       border-color: $form-control-checked-color;
//     }
//     + .label-control:after {
//       transform: scale(1);
//     }
//   }
//   &:disabled {
//     + .label-control {
//       color: mix($text-color, white, 50%);
//       &:before {
//         border-color: lighten($form-control-border-color, 10%);
//       }
//     }
//   }
// }

// .check {
//   + .label-control:after {
//     content: "\2714";
//     color: $form-control-checked-bg;
//     line-height: 1.5;
//     text-align: center;
//   }
// }