.inputs__container {
  margin: 15px;
  margin-left: 7.5px;
  margin-right: 7.5px;
}

.inputs__label {
  display: block;
  font-size: 0.8em;
  font-weight: $input_font_weight_label;
  margin-bottom: 5px;
  color: $input_color_label;
}

.inputs__help {
  display: block;
  font-size: 0.6em;
  font-weight: $input_font_weight_label;
  margin-top: 5px;
  color: lighten($input_color_label, 50);
}

.inputs__label-required-sign {
  color: lighten($input_color_label, 50);
}

// general input style
.inputs__input {
  display: block;
  width: 100%;
  outline: 0;
  border-radius: 0;
  padding: 6px 12px;
  box-sizing: border-box;
  background-color: $input_color_background;
  border: 1px solid $input_color_border;
  color: $input_color_text;
  transition: all 0.25s;

  &:focus {
    border-color: $color_main;
  }
}

.inputs__input--error {
  border-color: $input_color_border_error;
}