.inputs-youtube {

}

.inputs-youtube__video {
  
}

.inputs-youtube__video--active {
  margin-top: 10px;
  height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	padding-top: 30px;
	position: relative;
}

.inputs-youtube__video iframe,
.inputs-youtube__video object,
.inputs-youtube__video embed {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}