.elements-button {
  display: inline-block;
  position: relative;
}

.elements-button__element {
  background-color: $button_color_background;
  color: $button_color_text;
  font-weight: $button_font_weight;

  &:focus {
    background-color: darken($button_color_background, 5);
  }

  &:hover {
    background-color: darken($button_color_background, 10);
  }

  .icon-left {
    display: inline-block;
    margin-right: 2.5px;
  }

  .icon-right {
    display: inline-block;
    margin-left: 2.5px;
  }
}

.elements-button__element--info {
  background-color: $button_info_background;
  color: $button_info_color_text;

  &:focus {
    background-color: darken($button_info_background, 5);
  }

  &:hover {
    background-color: darken($button_info_background, 10);
  }
}

.elements-button__element--success {
  background-color: $button_success_background;
  color: $button_success_color_text;

  &:focus {
    background-color: darken($button_success_background, 5);
  }

  &:hover {
    background-color: darken($button_success_background, 10);
  }
}

.elements-button__element--danger {
  background-color: $button_danger_background;
  color: $button_danger_color_text;

  &:focus {
    background-color: darken($button_danger_background, 5);
  }

  &:hover {
    background-color: darken($button_danger_background, 10);
  }
}

.elements-button__element--warning {
  background-color: $button_warning_background;
  color: $button_warning_color_text;

  &:focus {
    background-color: darken($button_warning_background, 5);
  }

  &:hover {
    background-color: darken($button_warning_background, 10);
  }
}

.elements-button__link {

}

.elements-button__button {
  
}

.elements-button__confirmation {
  width: 100%;
  height: 100%;
  background-color: rgba($color_black, 0.5);
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.25s;
  
  .message {
    display: block;
    margin-bottom: 10px;
    font-size: 1em;
  }

  .popup {
    font-size: 1em;
    padding: 4px 10px;
    margin: 2.5px;
  }

  .popup.true {
    background-color: $button_success_background;
    color: $button_success_color_text;
  }

  .popup.false {
    background-color: $button_danger_background;
    color: $button_danger_color_text;
  }
}

.elements-button__confirmation--active {
  opacity: 1;
  transform: scale(1);
}

.elements-button__confirmation-content {
  background-color: $color_white;
  min-width: 300px;
  border-radius: 0;
  text-align: center;
  box-shadow: 0px 11px 20px rgba(41,59,90,0.08);
  min-height: 50px;
  padding: 15px;
  border: solid 1px darken($color_white, 3);
  @include centerElement(xy);
}