.elements-buttongroup {
  
  .elements-button {

    .elements-button__element {
      border-radius: 0;
      margin: 0;
      margin-right: 1px;
    }

    &:last-child {
      .elements-button__element {
        margin-right: 0;
      }
    }
  }
}