.elements-flash {
  display: block;
  width: 100%;
  padding: 15px 10px;
  box-sizing: border-box;
  margin: 10px 0;
  position: relative;
  background-color: rgba($flash_color_background, 0.75);
  border-color: $color_main;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  color: $flash_color_text;
  max-height: 999px;
  transition: all 0.25s;
  box-shadow: 0px 11px 20px rgba(41,59,90,0.08);
  border-radius: 10px;
}

.elements-flash--info {
  background-color: rgba($flash_info_background, 0.75);
  border-color: $flash_info_background;
  color: $flash_info_color_text;

  .elements-flash__close-button {
    color: $flash_close_button_color;
  }
}

.elements-flash--success {
  background-color: rgba($flash_success_background, 0.75);
  border-color: $flash_success_background;
  color: $flash_success_color_text;

  .elements-flash__close-button {
    color: $flash_close_button_color;
  }
}

.elements-flash--danger {
  background-color: rgba($flash_danger_background, 0.75);
  border-color: $flash_danger_background;
  color: $flash_danger_color_text;

  .elements-flash__close-button {
    color: $flash_close_button_color;
  }
}

.elements-flash--warning {
  background-color: rgba($flash_warning_background, 0.75);
  border-color: $flash_warning_background;
  color: $flash_warning_color_text;
  
  .elements-flash__close-button {
    color: $flash_close_button_color;
  }
}

.elements-flash--hidden {
  opacity: 0;
  max-height: 0px;
  margin: 0 0;
  padding: 0 12px;
  overflow: hidden;
}

.elements-flash__close-button {
  color: $flash_close_button_color;
  position: absolute;
  top: 3px;
  right: 5px;
  cursor: pointer;
  text-decoration: none;
}