.elements-flash {
  display: block;
  width: 100%;
  padding: 15px 10px;
  box-sizing: border-box;
  margin: 10px 0;
  position: relative;
  background-color: $flash_color_background;
  border-color: $flash_color_main_color;
  color: $flash_color_text;
  max-height: 999px;
  transition: all 0.25s;
  box-shadow: 0px 11px 20px rgba(41,59,90,0.08);
  border-left-width: 5px;
  border-left-style: solid;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.elements-flash--info {
  background-color: $flash_info_background;
  border-color: $flash_info_main_color;
  color: $flash_info_color_text;

  .elements-flash__close-button {
    color: $flash_close_button_color;
  }
}

.elements-flash--success {
  background-color: $flash_success_background;
  border-color: $flash_success_main_color;
  color: $flash_success_color_text;

  .elements-flash__close-button {
    color: $flash_close_button_color;
  }
}

.elements-flash--danger {
  background-color: $flash_danger_background;
  border-color: $flash_danger_main_color;
  color: $flash_danger_color_text;

  .elements-flash__close-button {
    color: $flash_close_button_color;
  }
}

.elements-flash--warning {
  background-color: $flash_warning_background;
  border-color: $flash_warning_main_color;
  color: $flash_warning_color_text;
  
  .elements-flash__close-button {
    color: $flash_close_button_color;
  }
}

.elements-flash--hidden {
  opacity: 0;
  max-height: 0px;
  margin: 0 0;
  padding: 0 12px;
  overflow: hidden;
}

.elements-flash__close-button {
  color: $flash_close_button_color;
  position: absolute;
  top: 3px;
  right: 5px;
  cursor: pointer;
  text-decoration: none;
}