.elements-pagination {
  position: relative;
  height: 23px;
}

.elements-pagination__arrows {
  display: inline-block;
  position: absolute;
  top: 0;

  a {
    display: inline-block;
    font-size: 1.4em;
    width: 22px;
    text-align: center;
    color: $pagination_color_text;
    border-radius: 50%;
    transition: all 0.25s;
    cursor: pointer;

    &:hover {
      background-color: $pagination_color_background_hover;
    }
  }
}

.elements-pagination__arrows--prev {
  left: 0;
}

.elements-pagination__arrows--next {
  right: 0;
}

.elements-pagination__arrows--disabled {
  a {
    color: $pagination_color_text_disabled;
    cursor: not-allowed;
    pointer-events: none;

    &:hover {
      background-color: transparent;
    }
  }
}

.elements-pagination__pages {
  text-align: center;
  padding-top: 2px;

  a {
    display: inline-block;
    padding: 2px 6px;
    color: $pagination_color_text;
    text-decoration: none;
    border-radius: 50%;
    transition: all 0.25s;
    cursor: pointer;

    &.current {
      background-color: $pagination_color_background_hover;
    }
  }
}