.elements-title {
  width: 100%;
  margin: 0;
  color: $title_color_text;
  border-bottom: solid 1px $title_color_border;
  padding-bottom: 5px;
  margin: 5px 0;
}

.elements-title--size-1 {
  font-size: 2em;
}

.elements-title--size-2 {
  font-size: 1.8em;
}

.elements-title--size-3 {
  font-size: 1.6em;
}

.elements-title--size-4 {
  font-size: 1.4em;
}

.elements-title--size-5 {
  font-size: 1.2em;
}

.elements-title--size-6 {
  font-size: 1em;
}