.inputs__container {
  margin: 15px;
  margin-left: 7.5px;
  margin-right: 7.5px;
}

.inputs__label {
  display: block;
  font-size: 0.8em;
  font-weight: $input_font_weight_label;
  margin-bottom: 5px;
  color: $input_color_label;
}

.inputs__help {
  display: block;
  font-size: 0.6em;
  font-weight: $input_font_weight_label;
  margin-top: 5px;
  color: lighten($input_color_label, 50);
}

.inputs__label-required-sign {
  color: lighten($input_color_label, 50);
}

// general input style
.inputs__input {
  display: block;
  width: 100%;
  outline: 0;
  border-radius: 0;
  padding: 6px 12px;
  box-sizing: border-box;
  background-color: $input_color_background;
  border: 1px solid $input_color_border;
  color: $input_color_text;
  transition: all 0.25s;

  &:focus {
    border-color: $color_main;
  }
}

.inputs__input--error {
  border-color: $input_color_border_error;
}

// general select style
.inputs__select {
  .selectize-input {
    border-radius: 0;
    box-shadow: none;
    border: 1px solid $input_color_border;
    padding: 5px 12px;
    outline: 0;
    transition: all 0.25s;

    &:focus {
      border-color: $color_main;
    }

    &.focus {
      box-shadow: none !important;
      border-color: $color_main;
    }
  }

  .dropdown-active {
    border-radius: 0 !important;
  }

  .selectize-dropdown  {
    box-shadow: none;
    border: 1px solid $input_color_border;
    border-top: none;

    .option:hover, .option.selected:hover {
      background: darken($input_color_background, 5);
    }

    .option.selected {
      background: $input_color_background;
    }
  }
}

.inputs__select--error {
  .selectize-input {
    border-color: $input_color_border_error;
  }
}

// general textarea style
.inputs__textarea {
  display: block;
  width: 100%;
  outline: 0;
  border-radius: 0;
  padding: 6px 12px;
  box-sizing: border-box;
  background-color: $input_color_background;
  border: 1px solid $input_color_border;
  color: $input_color_text;
  height: 200px;
  transition: all 0.25s;

  &:focus {
    border-color: $color_main;
  }
}

.inputs__textarea--error {
  border-color: $input_color_border_error;
}
