.widgets-systeminfo {
  
}

.widgets-systeminfo__module-name {
  background-color: $color_main;
  display: inline-block;
  padding: 5px;
  margin: 2px;
  color: $color_white;
  border-radius: 5px;
  font-size: 1em;
}

.widgets-systeminfo__footer {
  margin: 0;
  text-align: right;
  color: darken($color_white, 20);
  margin-top: 20px;
  font-size: 0.8em;
}