<div class="elements-pagination">

  <div class="elements-pagination__arrows elements-pagination__arrows--prev <%= @prev_disabled_class %>">

    <a href=""><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
    <a href=""><i class="fa fa-angle-left" aria-hidden="true"></i></a>

  </div>

  <div class="elements-pagination__pages">
    
  </div>

  <div class="elements-pagination__arrows elements-pagination__arrows--next <%= @next_disabled_class %>">

    <a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
    <a href=""><i class="fa fa-angle-right" aria-hidden="true"></i></a>
  
  </div>

</div>