<div class="elements-pagination">

  <div class="elements-pagination__arrows elements-pagination__arrows--prev">

    <a href=""><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
    <a href=""><i class="fa fa-angle-left" aria-hidden="true"></i></a>

  </div>

  <div class="elements-pagination__arrows elements-pagination__arrows--next">

    <a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
    <a href=""><i class="fa fa-angle-right" aria-hidden="true"></i></a>
  
  </div>

</div>