@import "mixin";
@import "normalize";
@import "helpers";
@import "typography";
@import "grid";
@import "button";
@import "table";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: $body_background;
  font-family: $body_font_family;
  font-size: $body_font_size;
  overflow-x: hidden;

  &.stop-scrolling {
    height: 100%;
    overflow: hidden;
  }
}

a {
  color: $color_main;
}