.table {
  border-collapse: collapse;
  text-align: left;
  background: $color_white;
  width: 100%;

  thead {
    border-bottom: solid 1px darken($color_white, 3);

    .attr-active {
      color: $color_active;
    }

    .attr-sort-ASC {
      position: relative;

      &:after {
        content: '\2193';
        position: absolute;
        right: -1em;
      }
    }

    .attr-sort-DESC {
      position: relative;
      
      &:after {
        content: '\2191';
        position: absolute;
        right: -1em;
      }
    }
  }

  tbody:before {
      content: "-";
      display: block;
      line-height: 0em;
      color: transparent;
  }

  tr {
    background: $color_white;

    &:nth-child(2n) {
      background: darken($color_white, 3);
    }
  }

  th {

  }

  td {
    
  }

  th, td {
    padding: 7.5px 5px;
  }

  &.table-border {
    
    tbody {
      th, td {
        border: solid 1px lighten($color_black, 90);
      }
    }
  }

}