<div class="layout-admin__back-container">
  <button class="button" onclick="location.href = document.referrer; return false;" title="<%= LANGUAGES[:lato_core][:mixed][:back] %>">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
  </button>
</div>