<div class="layout-admin__widgets-container">

  <% LAYOUT[:widgets].each do |widget| %>
    <div class="layout-admin__widget-container <%= widget[:key] %>">
      <a href="#" class="layout-admin__widget-button"><i class="fa fa-<%= widget[:icon] %>" aria-hidden="true"></i></a>

      <div class="layout-admin__widget-content">
        <%= render widget[:path] %>
      </div>
    </div>
  <% end %>

</div>