<div class="layout-admin__widgets-container">

  <% LAYOUT[:header_widgets].each do |widget| %>
    <div class="layout-admin__widget-container">
      <a href="#" class="layout-admin__widget-button"><i class="fa fa-<%= widget[:icon] %>" aria-hidden="true"></i></a>
    </div>
  <% end %>

</div>