.layout-authentication {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: $layout_authentication_background;
}

.layout-authentication__container {
  @include centerElement(xy);
}