.dashboard__button {
  display: block;
  border: solid 1px transparent;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  border-radius: 0;

  .icon {
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 20px;
    transition: transform 0.25s;
  }

  .title {
    font-size: 20px;
    color: $color_black;
  }

  &:hover {
    .icon { transform: scale(1.2) }
  }

  &:focus, &:active {
    outline: 0;
    background-color: $color_main;
    color: $color_white;

    .title {
      color: $color_white;
    }
  }

}