.elements-pagination {

}

.elements-pagination__arrows {
  display: inline-block;

  a {
    display: inline-block;
    font-size: 1.4em;
    width: 22px;
    text-align: center;
    color: $pagination_color_text;
    border-radius: 50%;
    transition: all 0.25s;
    cursor: pointer;

    &:hover {
      background-color: $pagination_color_background_hover;
    }
  }
}

.elements-pagination__arrows--prev {
  float: left;
}

.elements-pagination__arrows--next {
  float: right;
}

.elements-pagination__arrows--disabled {
  a {
    color: $pagination_color_text_disabled;
    cursor: not-allowed;
    pointer-events: none;

    &:hover {
      background-color: transparent;
    }
  }
}

.elements-pagination__pages {
  display: inline-block;
  margin: auto;
}